<div>
    <h1 class='umb-overlay__title'>Variants</h1>
    <div class="umb-list">
        <div class='mb3 sharepreview-overlay-description'>
            <p>Choose what variant you would like to share.</p>
        </div>
        <div class="sharepreview-list-item">
            <i class="icon-out sharepreview-icon-out"></i>
            <span class="sharepreview-list-item-title">English (United States)</span>
            <span class="sharepreview-list-item-subtitle">umbraco/sharepreview/index/Q9X6NrLuWhVrEKR-oyJYZqXsKGqweGCzJLg5h8Z8u25Wtzi6lAK7EWW2-j636baARRhx0vrHlfs1</span>
        </div>
        <div class="sharepreview-list-item">
            <i class="icon-out sharepreview-icon-out"></i>
            <span class="sharepreview-list-item-title">Dutch (Netherlands</span>
            <span class="sharepreview-list-item-subtitle">umbraco/sharepreview/index/Q9X6NrLuWhVrEKR-oyJYZqXsKGqweGCzJLg5h8Z8u25Wtzi6lAK7EWW2-j636baARRhx0vrHlfs1</span>
        </div>
        <div class="sharepreview-list-item">
            <i class="icon-out sharepreview-icon-out"></i>
            <span class="sharepreview-list-item-title">German (Germany)</span>
            <span class="sharepreview-list-item-subtitle">umbraco/sharepreview/index/Q9X6NrLuWhVrEKR-oyJYZqXsKGqweGCzJLg5h8Z8u25Wtzi6lAK7EWW2-j636baARRhx0vrHlfs1</span>
        </div>
    </div>
</div>




