<div ng-controller="TPSharePreview.MultiVariants.Overlay.controller">
    <h1 class='umb-overlay__title'>
        <localize key="shareablepreview_mvotitle">Variants</localize>
    </h1>
    <div class="umb-list">
        <div class='mb3 sharepreview-overlay-description'>
            <p><localize key="shareablepreview_mvodescription">Click on the variant you would like to share and copy the link from the browser address bar.</localize></p>
            <p class="sharepreview-extra-description">
                <i class="icon-info"></i>
                <localize key="shareablepreview_mvoextradescription">Only variants that have a pending changes will be shown here.</localize>
            </p>
        </div>
        <div ng-click="copyShareLink(link.link)" class="sharepreview-list-item" ng-repeat="link in model.links">
            <div class="sharepreview-list-item-title">
                <i class="icon-documents sharepreview-icon-out"></i>
                <span class="sharepreview-list-item-title">{{link.cultureName}}</span>
            </div>
            <div>
                <span class="sharepreview-list-item-subtitle">{{link.link}}</span>
            </div>
        </div>
    </div>
</div>