.previewsettings-field-label {
    display: block;
    font-weight: bold;
}

.previewsettings-field-description {
    display: block;
    color: grey;
    font-size: 15px;
}

.previewsettings-field-wrapper {
    margin-bottom: 10px;
}

.previewsettings-description {
    margin-bottom: 25px;
}

.previewsettings-savebutton .umb-button {
    margin-left: 0;
}


.sharepreview-list-item-title {
    font-weight: 600;
    font-size: 14px;
    margin-left: 5px;
}

.sharepreview-list-item-subtitle {
    font-size: 8px;
    color: #68676b;
    display: block;
}

.sharepreview-list-item {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-bottom: 1px solid #f6f6f7;
    margin-bottom: 10px;
    margin-left: 5px;
}

.sharepreview-overlay-description {
    margin-bottom: 35px;
}
